// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

//------------직접 정의
@mixin btn-green-isactive($bg-color:$main-green, $width:226px, $height:47px) {
  width: $width;
  height: $height;

  background: $bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
  border: none;
  border-radius: 999px;

  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  color: white;


  cursor: pointer;
}