.feed-comment {
    display: flex;
    flex-direction: column;
}

.comments-list {
    margin-bottom: 55px
}

.single-comment {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #ABABAB;
    gap: 12px;
    width: 100vw;

    padding: 10px;
    margin-top: 5px;


    .more-modal {
        position: absolute;
        text-align: center;
        align-self: flex-start;
        width: 70px;
        height: 30px;
    
        background-color: white;
        border: solid 1px #D60000;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        right: 10px;
        margin-top: 5px;

        font-size: 12px;
        font-weight: bold;
        color: #D60000;

        gap: 3px;

        p{
            margin-left: auto;
            margin-right: auto;
        }
    }

    > span {
        align-self: flex-start;
    }
    

    > div {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;

        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        
        }

        button {
            position: relative;
            border: none;
            background-color: white;
            font-size: 18px;
            top: 3px;
            color: #ABABAB;
        }

    }
}

.comment-nickname {
    width: 80%;
    word-wrap: break-word;
    word-break: keep-all;
    text-align: start;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 4px;
    margin-bottom: 4px;
}

.comment-content {
    width: 100%;
    word-wrap: break-word;
    word-break: keep-all;
    text-align: start;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.comment-input {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    bottom: 0px;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    border-top: solid 1px $light-grey;
    justify-content: space-evenly;
    background-color: white;
    
    span {
        align-self: flex-end;
        margin-bottom: 3px;
    }

    form {
        width: 73%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    textarea {
        width: 90%;
        resize: none;
        border: none;
        word-break: keep-all;
        align-self: center;
    }

    textarea:focus {
        outline: none;
    }

    textarea::placeholder {
        opacity: 0.5;
    }

    button {
        height: auto;
        border: none;
        background-color: white;
        color: $main-green;
    }
}

.letter-counts {
    align-self: flex-end;
    background-color: transparent;
    font-size: 12px;
}

.final-modal {
    font-size: 14px;
    font-weight: bold;
}