.feed-page {
    background: #E9E9E9;
    height: 100vh;
}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: sticky;

    width: 100%;
    height: 60px;

    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;

    p {
        font-family: 'Lily Script One';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 43px;
        /* identical to box height */

        color: #00AB44;
    }
}

.feed-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F3F3;

    padding-top: 15px;

    gap: 15px;

    position: relative;

    padding-bottom: 60px;
}

.single-feed {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.09));
}

.feed-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 43px;
    gap: 25%;

    width: 100%;
    height: 42px;

    background: #FFFFFF;
    border-top: 1px solid #ABABAB;
    border-radius: 0px 0px 5px 5px;

    span {
        font-size: 28px;
    }
}

.like-comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    gap: 12px;

    width: 100%;
    height: 30px;

    background: #FFFFFF;

    p {
        font-size: 12px;
        font-weight: weight;
    }
}

.carousel {
    width: 100%;
    height: auto;
}

.single-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 360px;
        max-height: 400px;
        width: auto;
        height: 100%;
    }
}

.feed-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-end;
    padding: 10px 10px;
    margin-bottom: 0px;

    width: 100%;
    
    background: #FFFFFF;
    p {
        font-size: 16px;
        margin: 0px;
        word-break: keep-all;
    }

    button {
        position: relative;
        border: none;
        height: 13px;
        background-color: white;
        padding: 0px;

        p {
            font-size: 12px;
            color:#ABABAB;
        }
    }
}

.feed-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px 0px 10px;
    gap: 13px;
    isolation: isolate;
    font-size: 14px;

    width: 100%;

    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            p {
                margin: 0;
                font-weight: bolder;
            }

            button {
                margin-left: 5px;
                color: #00AB44;
                border: none;
                border-radius: 3px;
                background-color: #FFFFFF;
                font-weight: bolder;
            }
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 5px;
        text-align: start;
        word-break: keep-all;
    }
}

