
.feed-page {
    background: #E9E9E9;
    width: 100vw;
}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: sticky;

    width: 100%;
    height: 60px;

    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;

    span,p {
        font-family: 'Lily Script One';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 43px;
        /* identical to box height */

        color: #00AB44;
    }
   
}

.feed-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F3F3;

    padding-top: 15px;

    gap: 15px;

    position: relative;

    padding-bottom: 60px;
}

.single-feed {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.09));
}

.feed-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 43px;
    gap: 25%;

    width: 100%;
    height: 42px;

    background: #FFFFFF;
    border-top: 1px solid #ABABAB;
    border-radius: 0px 0px 5px 5px;

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }

    span {
        font-size: 28px;
    }
}

.like-comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    gap: 12px;

    width: 100%;
    height: 30px;

    background: #FFFFFF;

    p {
        font-size: 12px;
        font-weight: weight;
    }
}

.carousel {
    width: 100%;
    height: auto;
}

.single-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #131418;
    background-color: #eee;
    img {
        max-width: 100vw;
        max-height: 400px;
        width: auto;
        height: 100%;
    }
}

.feed-text {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 10px 10px;
    margin-bottom: 0px;
    
    width: 100%;
    
    background: #FFFFFF;
    p {
        font-family: "LINESeedKR-Rg" !important;
        font-size: 16px;
        margin: 0px;
        word-break: break-all;
    }

    button {
        position: relative;
        border: none;
        height: 13px;
        background-color: white;
        padding: 0px;

        p {
            font-size: 12px;
            color:#ABABAB;
        }
    }
}

.feed-header {
    position: relative;
    display: flex;
    flex-direction: row;
    // align-items: center;
    padding: 15px 10px 10px 15px;
    gap: 16px;
    isolation: isolate;
    font-size: 14px;
    width: 100%;

    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;

    .material-icons-outlined {
        color: #ABABAB;
        position: absolute;
        right: 10px;
    }

    .feed-header-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        .feed-header-nickname {
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 1.4;
            gap: 6px;

        }
        p {
            margin: 0;
            font-weight: bolder;
        }

    }

    p {
        margin-top: 0;
        margin-bottom: 5px;
        text-align: start;
        word-break: keep-all;

        .playlist-name {
            color: #00AB44;
            font-weight: bold;
        }

        .mission-name {
            color: #2C5C3F;
        }
    }
}

.moving-notification {
    width: 100%;
    height: auto;
    background-color: $main-green;
    color: #FFFFFF;
    position: fixed;
    word-break: keep-all;
    bottom: -84px;
    border-radius: 10px 10px 0px 0px;
    line-height: 160%;
    transition: transform 1s ease-in-out;
    font-weight: bold;
    z-index: 999;
}

.moving-notification.show {
    transform: translateY(-84px)
}

.more-option {
    position: absolute;
    right: 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.feed-header-img-wrap{
    background-color: #ccc;
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 50px;
        height: 50px;
    }

}
.feed-header-achieve{
    width: 14px;
    height: 14px;
}
.feed-header-nickname{
    font-size: 16px;
}
.mission-name{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
}  

.playlist-name{
    line-height: 1.4;
    font-size: 12px;
    font-weight: bold;
}

.feed-delete-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;


    .feed-delete-modal-body {
        padding: 18px 0px 0px 0px;
        position: relative;
        width: 70vw;
        height: 20vh;
        background-color: white;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
            word-break: keep-all;
            width: 80%;
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            
            button:nth-child(1) {
                border: solid $light-grey;
                border-width: 1px 0.5px 0px 0px;
                border-radius: 0px 0px 0px 10px;
                background-color: white;
                font-size: 16px;
                width: 50%;
                height: 50px;
            }

            button:nth-child(2) {
                border: solid red;
                border-width: 1px 0px 0px 0.5px;
                border-radius: 0px 0px 10px 0px;
                background-color: white;
                font-size: 16px;
                width: 50%;
                height: 50px;
                color: red;

            }
        }
    }
}


.stop-scroll {
    height: 100%;
    overflow: hidden;
}