.inputbox {
	width: 332px;
	height: 42px;

	background: $light-yellow;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07);
  border: none;
	border-radius: 10px;

  &::placeholder {
    color: $light-grey;
    font-size: $fs-6;
  }
}