.like-modal {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    .like-modal-close {
      width: 100%;
      height: 18%;
    }
    .like-white-bg {
      animation-name: likeSlidein;
      animation-fill-mode: forwards;
      animation-duration: 0.3s;
      position: fixed;
      border-radius: 15px 15px 0 0;
      background-color: #fff;
      width: 100%;
      height: 80%;
      margin: 0 auto;
      .like-list {
        border-top: 1px solid #929292;
        padding-top: 10px;
      }
      .like-item {
        height: 50px;
        margin-bottom: 10px;
        display: flex;
        .like-img-wrap {
            margin-left: 10px;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          overflow: hidden;
          .like-img {
            width: 50px;
            height: 50px;
          }
        }
        .like-nickname-wrap {
            align-items: center;
            vertical-align: middle;
            display: flex;
            height: 100%;
            width: 70%;
            margin-left: 20px;
            .like-achieve {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            .like-nickname{
                line-height: 2;
                margin-top: 2px;
            }
        }
      }
    }
    @keyframes likeSlidein {
      from {
        top: 100%;
      }
  
      to {
        top: 20%;
      }
    }
  }