.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 22.5px;
    gap: 49px;

    position: fixed;
    width: 360px;
    height: 56px;
    left: 0px;
    top: 704px;

    background: #FFFFFF;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    border-radius: 10px 10px 0px 0px;

    .material-icons {
        font-size: 38px;    
    }

    .material-symbols-outlined {
        font-size: 38px;
    }
}