// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

$fs-0: 2.5rem !default;
$fs-1: 2.062rem !default;
$fs-2: 1.75rem !default;
$fs-3: 1.438rem !default;
$fs-4: 1.188rem !default;
$fs-5: 1rem !default;
$fs-6: 0.812rem !default;
$fs-7: 0.688rem !default;